
<div class="btn-wrap">
<style>
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fefefe;
}
i {
  opacity: 0;
  font-size: 28px;
  color: #1e1e1e;
  will-change: transform;
  transform: scale(.1);
  transition: all .3s ease;
}
.btn-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 240px;
  height: 72px;
  background-color: #eeeeed;
  border-radius: 80px;
  padding: 0 18px;
  will-change: transform;
  transition: all .2s ease-in-out;
}
.btn-wrap:hover {
  transform: scale(1.1);
}
span {
  position: absolute;
  z-index: 99;
  width: 240px;
  height: 72px;
  border-radius: 80px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 70px;
  letter-spacing: 2px;
  color: #eeeeed;
  background: #1f1f1f;
  padding: 0 18px;
  transition: all 1.2s ease;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  height: 64px;
  border-radius: 80px;
}
.container i:nth-of-type(1) {
  transition-delay: 1.1s;
}
.container i:nth-of-type(2) {
  transition-delay: .9s;
}
.container i:nth-of-type(3) {
  transition-delay: .7s;
}
.container i:nth-of-type(4) {
  transition-delay: .4s;
}
.btn-wrap:hover span {
  transition-delay: .25s;
  transform: translatex(-280px);
}
.btn-wrap:hover i {
  opacity: 1;
  transform: scale(1);
}
</style>
  <span>Share</span>
  <div class="container">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-github"></i>
  </div>
</div>